:root {
  --size-0: 0;
  --size-05: 0.125rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --p: var(--size-2);

  --radius: 0.5rem;
}

.rounded {
  border-radius: var(--radius);
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.p { padding: var(--p) }

.p-0 { padding: var(--size-0)}
.pt-0 { padding-top: var(--size-0)}
.pb-0 { padding-bottom: var(--size-0)}
.pl-0 { padding-left: var(--size-0)}
.pr-0 { padding-right: var(--size-0)}
.px-0 { padding-inline: var(--size-0)}
.py-0 { padding-block: var(--size-0)}

.p-1 { padding: var(--size-1)}
.pt-1 { padding-top: var(--size-1)}
.pb-1 { padding-bottom: var(--size-1)}
.pl-1 { padding-left: var(--size-1)}
.pr-1 { padding-right: var(--size-1)}
.px-1 { padding-inline: var(--size-1)}
.py-1 { padding-block: var(--size-1)}

.p-2 { padding: var(--size-2)}
.pt-2 { padding-top: var(--size-2)}
.pb-2 { padding-bottom: var(--size-2)}
.pl-2 { padding-left: var(--size-2)}
.pr-2 { padding-right: var(--size-2)}
.px-2 { padding-inline: var(--size-2)}
.py-2 { padding-block: var(--size-2)}

.p-3 { padding: var(--size-3)}
.pt-3 { padding-top: var(--size-3)}
.pb-3 { padding-bottom: var(--size-3)}
.pl-3 { padding-left: var(--size-3)}
.pr-3 { padding-right: var(--size-3)}
.px-3 { padding-inline: var(--size-3)}
.py-3 { padding-block: var(--size-3)}

.p-4 { padding: var(--size-4)}
.pt-4 { padding-top: var(--size-4)}
.pb-4 { padding-bottom: var(--size-4)}
.pl-4 { padding-left: var(--size-4)}
.pr-4 { padding-right: var(--size-4)}
.px-4 { padding-inline: var(--size-4)}
.py-4 { padding-block: var(--size-4)}

.m-0 { margin: var(--size-0)}
.mt-0 { margin-top: var(--size-0)}
.mb-0 { margin-bottom: var(--size-0)}
.ml-0 { margin-left: var(--size-0)}
.mr-0 { margin-right: var(--size-0)}
.mx-0 { margin-inline: var(--size-0)}
.my-0 { margin-block: var(--size-0)}

.m-1 { margin: var(--size-1)}
.mt-1 { margin-top: var(--size-1)}
.mb-1 { margin-bottom: var(--size-1)}
.ml-1 { margin-left: var(--size-1)}
.mr-1 { margin-right: var(--size-1)}
.mx-1 { margin-inline: var(--size-1)}
.my-1 { margin-block: var(--size-1)}

.m-2 { margin: var(--size-2)}
.mt-2 { margin-top: var(--size-2)}
.mb-2 { margin-bottom: var(--size-2)}
.ml-2 { margin-left: var(--size-2)}
.mr-2 { margin-right: var(--size-2)}
.mx-2 { margin-inline: var(--size-2)}
.my-2 { margin-block: var(--size-2)}

.m-3 { margin: var(--size-3)}
.mt-3 { margin-top: var(--size-3)}
.mb-3 { margin-bottom: var(--size-3)}
.ml-3 { margin-left: var(--size-3)}
.mr-3 { margin-right: var(--size-3)}
.mx-3 { margin-inline: var(--size-3)}
.my-3 { margin-block: var(--size-3)}

.m-4 { margin: var(--size-4)}
.mt-4 { margin-top: var(--size-4)}
.mb-4 { margin-bottom: var(--size-4)}
.ml-4 { margin-left: var(--size-4)}
.mr-4 { margin-right: var(--size-4)}
.mx-4 { margin-inline: var(--size-4)}
.my-4 { margin-block: var(--size-4)}

.mt-auto { margin-top: auto; }
.mb-auto { margin-bottom: auto; }
.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }
.mx-auto { margin-inline: auto; }
.my-auto { margin-block: auto; }